@import '../../styles/variables.less';

.date-time-picker-wrapper {
    position: relative;
    width: fit-content;

    &.error {
        input {
            border: 1px solid @error-color;
        }
        
        label {
            color: @error-color;
        }
    }
}

.date-time-picker {
    position: relative;
    display: grid;
    grid-template-columns: min-content 20px min-content min-content;
    place-items: center;

    .am-pm {
        display: grid;
        grid-template-columns: min-content min-content min-content min-content;
        place-items: center;
    }

    .form-field-error-wrapper {
        bottom: -16px;   

        @media only screen and (min-width: 768px) {
            right: -60px;
            bottom: initial;     
        }
    }
}

